<!-- <p>login works!</p> -->
<br/><br/>
<div class="container-fluid">
    <form (ngSubmit)="onSubmit()">
        <div>
        <label for="email">Email</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <input type="email" name="email" id="email" placeholder="Enter your email id" [(ngModel)]="email" required autofocus>
    </div><br/><br/>

    <div>
        <label for="password">Password</label>&nbsp;&nbsp;&nbsp;&nbsp;
        <input type="password" name="password" id="password" placeholder="Password" [(ngModel)]="password" required>
    </div><br/><br/>

    <div style="text-align: center;">
       <button type="submit" class="btn btn-outline-success">Submit</button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  <a routerLink="/register" class="register">Register</a>  
    </div> 
    </form>

</div>