 <!-- <p>restaurants works!</p> -->
<br />

<h3>List of Restaurants</h3>
<div class="container-fluid">
    <nav aria-label="breadcrumb" >
        <ol class="breadcrumb" style="font-family:cursive; text-decoration: none;">
          <li class="breadcrumb-item"><a routerLink="/home">Home</a></li>
          <li class="breadcrumb-item"><a routerLink="/cart">Cart</a></li>
          <li class="breadcrumb-item active" aria-current="page">Restaurants</li>
        </ol>
      </nav>
  

    <div class="row">
      @for (restaurant of restaurants; track restaurant) {
        <div class="col-6">
          <div class="container" >
              <img src={{restaurant.imgUrl}} >
              <div class="float">
              <ul >
              <li>{{restaurant.restaurantName}}</li>
              <li>{{restaurant.area}}</li>
              <li>{{restaurant.distance}}</li>
            <a routerLink="{{restaurant.restaurantName}}" class="btn btn-warning">See more...</a>
            </ul>
              
        </div>
      </div>
</div>
      }
        </div> 


<!-- <nav aria-label="Page navigation example">
    <ul class="pagination">
      <li class="page-item">
        <a class="page-link" href="#" aria-label="Previous">
          <span aria-hidden="true">&laquo;</span>
        </a>
      </li>
      <li class="page-item"><a class="page-link" href="#">1</a></li>
      <li class="page-item"><a class="page-link" href="#">2</a></li>
      <li class="page-item"><a class="page-link" href="#">3</a></li>
      <li class="page-item">
        <a class="page-link" href="#" aria-label="Next">
          <span aria-hidden="true">&raquo;</span>
        </a>
      </li>
    </ul>
  </nav> -->
